/* style.css */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Cắt bỏ mọi phần thừa */
  position: relative;
}

#game-container {
  /* BẮT BUỘC: Căn giữa tuyệt đối */
  position: absolute;
  top: 50%;
  left: 50%;
  /* translate(-50%, -50%) sẽ được JS thêm vào khi xoay, 
     nhưng ta để mặc định ở đây để lúc load chưa kịp chạy JS nó vẫn ở giữa */
  transform: translate(-50%, -50%);
  
  /* Đảm bảo nội dung flex */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Bóng đổ nhẹ */
  box-shadow: 0 0 50px rgba(0,0,0,0.5);

  background: url('assets/images/bg.webp'); /* màu nền khi canvas nhỏ hơn màn hình */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}